.selectPlayer{
    display: flex;
    margin: 10px;
    border: 1px solid gray;
    padding: 10px;
    background-color: lightgray;
    border-radius: 20px;
    margin-right: 20px;
}
.selectedPlayerImg{
    width: 150px;
    margin-right: 10px;
}
.selectedPlayerImg img{
    width: 100%;
    border-radius: 20px;
}